@charset 'utf-8';

//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// define
//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import 'vars';
@import 'reset';
@import 'mixin';

body {
  @include sp {
    position: relative;
  }
}
.is-dark {
  .c-title {
    color: #fff;
  }
  .c-header {
    background: #2b2a28;
  }
  .c-info {
    background: #252525;
    &__ttl {
      color: #efebe5;
    }
  }
  .c-cate {
    background: #1f1f1c;
    &__ttl {
      color: #fdd284;
    }
    &__cont {
      a {
        color: #fff;
      }
    }
  }
  .c-detail {
    &__text {
      color: #fff;
    }
    &__heart {
      color: #fff;
      &:before {
        background: url(../images/icon02.svg) no-repeat center;
      }
    }
    &__info {
      ul {
        background: #252525;
        li {
          color: #faac20;
          span {
            color: #fdd284;
          }
        }
      }
    }
  }
  .c-table {
    table {
      background: #252525;
      thead {
        background: #313131;
      }
      tbody {
        scrollbar-color: #adadad #202020;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          width: 14px;
        }
        &::-webkit-scrollbar-track {
          background: #202020;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #595959;
          outline: 0;
          border-radius: 4px;
        }
      }
      th {
        background: #313131;
      }
      th,
      td {
        color: #fac668;
      }
    }
  }
  .p-home {
    &__info {
      background: #242320;
    }
    &__list {
      background: #21211d;
    }
  }
  .p-market {
    background: #21211d;
    &__title {
      color: #fff;
      span {
        color: #fdd284;
      }
    }
    &__info {
      background: #242320;
    }
  }
}
.c-bgheader {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: 0.2s ease-in-out;
  &.is-active {
    opacity: 1;
    z-index: 9;
  }
}

.l-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  @include max(1280px) {
    padding: 0 15px;
  }
}
.d-flex-jbetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  @include max(991px) {
    display: block;
  }
}

.c-darkmode {
  position: fixed;
  bottom: 5px;
  right: 0;
  z-index: 999999;
  background: #2b2a28;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  label {
    display: block;
    padding: 8px 10px;
    cursor: pointer;
  }
  span {
    font-size: 14px;
    line-height: 1;
    color: #fac668;
    font-weight: 600;
    display: block;
    padding-left: 26px;
    position: relative;
    &:before {
      content: '';
      width: 18px;
      height: 18px;
      border: 2px solid #fac668;
      position: absolute;
      top: calc(50% - 9px);
      left: 0;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:after {
      content: '';
      width: 8px;
      height: 8px;
      background: #fac668;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 4px);
      left: 5px;
      opacity: 0;
    }
  }
  input {
    display: none;
    &:checked {
      + span {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
.c-header {
  width: 100%;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 27px calc((100% - 1280px) / 2) 27px 40px;
  transition: 0.2s ease-in-out;
  @include max(1280px) {
    padding: 27px 15px;
  }
  @include sp {
    padding: 15px;
    position: relative;
    z-index: 9999;
  }
  @include max(369px) {
    display: block;
  }
  &__logo {
    width: 186px;
    @include max(991px) {
      width: 165px;
    }
    @include sp {
      width: 140px;
    }
    @include max(480px) {
      width: 130px;
    }
    @include max(369px) {
      width: 140px;
      margin: 0 auto 15px;
    }
    img {
      width: 100%;
      transition: 0.2s ease-in-out;
    }
  }
  &__inner {
    width: calc(100% - 186px);
    padding-left: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include max(1280px) {
      padding-left: 80px;
    }
    @include max(991px) {
      width: calc(100% - 165px);
      padding-left: 40px;
    }
    @include sp {
      justify-content: flex-end;
      width: calc(100% - 140px);
      padding-left: 10px;
    }
    @include max(480px) {
      width: calc(100% - 130px);
    }
    @include max(369px) {
      width: 100%;
      padding-left: 0;
      justify-content: space-between;
    }
  }
  &__btn {
    display: block;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #fff;
    background: #45cba4;
    border-radius: 36px;
    padding: 11px 32.5px;
    @include max(991px) {
      padding: 11px 20px;
    }
    @include max(480px) {
      padding: 9px 12px;
      letter-spacing: 0;
      font-size: 12px;
      border-radius: 20px;
    }
  }
  &__toggle {
    display: none;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border: 1px solid #faac20;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    @include sp {
      display: block;
    }
    span {
      display: block;
      width: 26px;
      height: 2px;
      background: #faac20;
      position: absolute;
      left: 7px;
      top: calc(50% - 1px);
      transition: 0.2s ease-in-out;
      &:nth-of-type(1) {
        transform: translateY(-10px);
      }
      &:nth-of-type(3) {
        transform: translateY(10px);
      }
    }
    &.is-active {
      background: #faac20;
      span {
        background: #fff;
        &:nth-of-type(1) {
          transform: translateY(0) rotate(45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
          transform: translateX(100px);
        }
        &:nth-of-type(3) {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }
}

.c-nav {
  transition: 0.3s ease-in-out;
  @include sp {
    width: 50%;
    max-width: 280px;
    position: fixed;
    top: 70px;
    right: -100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
  }
  @include max(369px) {
    top: 100%;
  }
  &.is-active {
    @include sp {
      position: absolute;
      right: 0;
      opacity: 1;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    @include sp {
      width: 100%;
      display: block;
      background: rgba(0, 0, 0, 0.5);
      padding: 15px 20px;
    }
    li {
      + li {
        margin-left: 40px;
        @include max(991px) {
          margin-left: 25px;
        }
        @include max(860px) {
          margin-left: 18px;
        }
        @include sp {
          margin-left: 0;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
      a {
        display: block;
        font-size: 20px;
        font-weight: 400;
        color: #faac20;
        @include max(860px) {
          font-size: 18px;
        }
        @include sp {
          padding: 10px 0;
        }
      }
    }
  }
}

.c-title {
  color: #252525;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.1px;
  font-weight: 800;
  &--detail {
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 20px;
    @include sp {
      margin-bottom: 15px;
    }
  }
}

.c-slider {
  &__item {
    position: relative;
    > img {
      width: 100%;
      @include max(991px) {
        width: auto;
        height: 500px;
      }
      @include sp {
        height: 400px;
      }
    }
  }
  &__cont {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include max(1280px) {
      padding: 0 15px;
    }
    @include max(991px) {
      display: block;
    }
  }
  &__img {
    width: 50%;
    @include max(1280px) {
      width: 40%;
    }
    @include max(991px) {
      width: 50%;
      margin: 0 auto 30px;
    }
    @include sp {
      width: 70%;
    }
    img {
      width: 100%;
    }
  }
  &__text {
    width: 50%;
    text-align: right;
    @include max(1280px) {
      width: 60%;
    }
    @include max(991px) {
      width: 100%;
      text-align: center;
    }
    h3 {
      font-size: 38px;
      line-height: 69px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 33px;
      @include max(1280px) {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 1.3;
      }
      @include sp {
        margin-bottom: 15px;
        font-size: 24px;
      }
    }
    p {
      font-size: 28px;
      color: #fff;
      @include max(1280px) {
        font-size: 22px;
      }
      @include sp {
        font-size: 16px;
      }
    }
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
    @include max(1280px) {
      margin-bottom: 20px;
    }
    @include max(991px) {
      justify-content: center;
    }
    span {
      display: flex;
      align-items: center;
      font-size: 91px;
      line-height: 1;
      font-weight: 400;
      color: #fff;
      @include max(1280px) {
        font-size: 60px;
      }
      @include sp {
        font-size: 40px;
      }
      &:nth-of-type(1) {
        font-size: 43px;
        background: #fac668;
        border-radius: 23px;
        box-shadow: 0 3px 50px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 22px 32.5px;
        @include max(1280px) {
          padding: 18px 28px;
          font-size: 38px;
        }
        @include sp {
          font-size: 30px;
          padding: 10px 20px;
          border-radius: 15px;
        }
      }
      &:nth-of-type(2) {
        margin-left: 66px;
        @include sp {
          margin-left: 20px;
        }
        img {
          width: 74px;
          height: auto;
          @include sp {
            width: 40px;
          }
        }
      }
      &:nth-of-type(3) {
        margin-left: 28px;
        @include sp {
          margin-left: 10px;
        }
        img {
          width: 60.5px;
          height: auto;
          @include sp {
            width: 40px;
          }
        }
      }
    }
  }
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    li {
      cursor: pointer;
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.44);
      opacity: 1;
      border: 0;
      overflow: hidden;
      @include sp {
        width: 10px;
        height: 10px;
      }
      + li {
        margin-left: 20px;
      }
      &.slick-active {
        background: #fff;
      }
      button {
        appearance: none;
        border: 0;
        display: block;
        font-size: 0;
        cursor: pointer;
        background: transparent;
      }
    }
  }
}

.c-info {
  background: #e3dac9;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);
  padding: 0 20px 13px 42px;
  display: flex;
  flex-wrap: wrap;
  transition: 0.2s ease-in-out;
  @include max(1280px) {
    padding: 0 20px 13px;
  }
  + .c-info {
    margin-left: 3.046%;
    @include max(991px) {
      margin-left: 0;
      margin-top: 30px;
    }
  }
  li {
    margin-top: 17px;
    @include sp {
      margin-top: 15px;
    }
  }
  &--big {
    width: 62.11%;
    max-width: 795px;
    @include max(991px) {
      max-width: 100%;
      width: 100%;
    }
    li {
      width: 25%;
      @include max(1280px) {
        width: calc(100% / 3);
      }
      @include max(991px) {
        width: 25%;
      }
      @include sp {
        width: 100%;
      }
    }
  }
  &--small {
    width: 34.844%;
    max-width: 446px;
    @include max(991px) {
      width: 60%;
      max-width: 100%;
    }
    @include sp {
      width: 100%;
    }
    li {
      width: 50%;
      @include sp {
        width: 100%;
      }
    }
  }
  &__ttl {
    font-size: 13px;
    line-height: 20px;
    color: #252525;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
    @include sp {
      margin-bottom: 5px;
    }
  }
  &__price {
    color: #faac20;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__icon {
    display: block;
    width: 30px;
    margin-right: 8px;
    img {
      width: 100%;
    }
  }
}

.c-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include max(991px) {
    justify-content: center;
    margin: 0 -15px;
  }
  @include sp {
    display: block;
    margin: 0;
  }
  &__item {
    position: relative;
    width: calc(25% - 22.5px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 6px rgba(250, 198, 104, 0.5);
    margin-bottom: 35px;
    @include max(991px) {
      width: calc(100% / 3 - 30px);
      margin: 0 15px 25px;
    }
    @include sp {
      width: 100%;
      max-width: 450px;
      margin: 0 auto 25px;
    }
  }
  &__label {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    background: #fac668;
    border-radius: 12px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1px;
    padding: 10px 20px;
    @include sp {
      padding: 8px 16px;
    }
  }
  &__img {
    position: relative;
    z-index: 1;
    img {
      width: 100%;
    }
  }
  &__ttl {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 6px;
    padding-left: 6px;
  }
  &__body {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0);
    padding: 6px 25px 11px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__number {
    font-size: 19px;
    line-height: 31px;
    color: #fac668;
    font-weight: 400;
    padding-left: 38px;
    position: relative;
    &:before {
      content: '';
      width: 31px;
      height: 31px;
      background: url(../images/icon01.svg) no-repeat center;
      background-size: 100% 100%;
      position: absolute;
      top: calc(50% - 15.5px);
      left: 0;
    }
  }
  &__heart {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #fff;
    font-weight: 700;
    padding-left: 31px;
    position: relative;
    &:before {
      content: '';
      width: 20px;
      height: 18px;
      background: url(../images/icon02.svg) no-repeat center;
      background-size: 100% 100%;
      position: absolute;
      top: calc(50% - 9px);
      left: 0;
    }
  }
}

.c-cate {
  padding: 20px 30px 16px;
  transition: 0.2s ease-in-out;
  li {
    display: flex;
    align-items: center;
    @include max(880px) {
      display: block;
    }
    + li {
      margin-top: 14px;
    }
  }
  &__ttl {
    font-size: 16px;
    line-height: 26px;
    color: #faac20;
    font-weight: 400;
    @include max(880px) {
      margin-bottom: 5px;
    }
  }
  &__cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 37px;
    @include max(991px) {
      padding-left: 30px;
    }
    @include max(880px) {
      padding-left: 0;
    }
    a {
      display: block;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.1px;
      border-radius: 24px;
      color: #252525;
      padding: 6.5px 25px;
      margin-right: 44px;
      transition: 0.2s ease-in-out;
      @include max(991px) {
        margin-right: 20px;
      }
      @include max(880px) {
        margin-bottom: 5px;
      }
      &.is-active {
        background: #fac668;
      }
    }
  }
}

.c-detail {
  display: flex;
  flex-wrap: wrap;
  @include sp {
    display: block;
  }
  &__image {
    width: 365px;
    position: relative;
    @include sp {
      width: 100%;
      max-width: 365px;
      margin: 0 auto 20px;
    }
    span {
      display: block;
      font-size: 17px;
      line-height: 28px;
      color: #fff;
      font-weight: 400;
      background: #fac668;
      border-radius: 22px 14px 14px 2px;
      padding: 7px 25px 7px 16px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__img {
    width: 100%;
    padding: 22px 34px 28px;
    border: 1px solid #c4bcaa;
    border-radius: 22px;
    box-sizing: border-box;
    overflow: hidden;
    img {
      border-radius: 22px;
      width: 100%;
    }
  }
  &__cont {
    width: calc(100% - 375px);
    margin-left: 10px;
    @include sp {
      width: 100%;
      margin-left: 0;
    }
  }
  &__ttl {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #faac20;
    padding: 5px 0 0 27px;
    margin-bottom: 8px;
    @include sp {
      padding-left: 0;
    }
  }
  &__artist {
    font-size: 17px;
    line-height: 28px;
    color: #797160;
    padding-left: 27px;
    margin-bottom: 15px;
    @include sp {
      padding-left: 0;
    }
    span {
      font-weight: 500;
      text-decoration: underline;
      color: #fdd284;
      margin-left: 10px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 33px;
    color: #313131;
    font-weight: 400;
    padding-left: 27px;
    margin-bottom: 35px;
    transition: 0.2s ease-in-out;
    @include sp {
      padding-left: 0;
    }
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    margin-bottom: 18px;
    @include sp {
      padding-left: 0;
    }
  }
  &__price {
    font-size: 23px;
    line-height: 37px;
    color: #faac20;
    display: flex;
    align-items: center;
    span {
      display: block;
      width: 38px;
      margin-right: 10px;
      img {
        width: 100%;
      }
    }
  }
  &__heart {
    font-size: 20px;
    line-height: 22px;
    color: #313131;
    display: flex;
    align-items: center;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    padding-left: 45px;
    position: relative;
    &:before {
      content: '';
      width: 25px;
      height: 22px;
      background: url(../images/icon04.svg) no-repeat center;
      background-size: 100% auto;
      position: absolute;
      top: calc(50% - 11px);
      left: 0;
      transition: 0.2s ease-in-out;
    }
    span {
      display: block;
      width: 25px;
      margin-right: 25px;
      img {
        width: 100%;
      }
    }
  }
  &__btn {
    width: 158px;
    display: block;
    font-size: 11px;
    line-height: 17px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1px;
    background: #45cba4;
    border-radius: 24px;
    margin-left: 22px;
    box-sizing: border-box;
    padding: 8px 20px;
    text-align: center;
    @include sp {
      margin-left: 0;
    }
  }
  &__info {
    border-top: 1px solid #c4bcaa;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0 0 21px;
    @include sp {
      display: block;
      padding: 15px;
    }
    ul {
      width: calc(53% - 16px);
      background: #efebe5;
      border-radius: 13px;
      padding: 13px 28px 13px 19px;
      transition: 0.2s ease-in-out;
      @include sp {
        width: 100%;
        padding: 15px;
      }
      &:nth-of-type(1) {
        width: 47%;
        @include sp {
          width: 100%;
          margin-bottom: 20px;
        }
      }
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #5c461a;
        transition: 0.2s ease-in-out;
        + li {
          margin-top: 13px;
        }
        span {
          font-size: 17px;
          line-height: 26px;
          color: #faac20;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}

.c-table {
  &--small {
    width: 365px;
    @include max(991px) {
      width: 50%;
    }
    @include sp {
      width: 100%;
    }
    table {
      th,
      td {
        width: 40%;
        &:nth-of-type(1) {
          width: 60%;
        }
      }
    }
  }
  &--big {
    width: calc(100% - 399px);
    margin-left: 34px;
    @include max(991px) {
      width: 100%;
      margin-left: 0;
      margin-top: 30px;
    }
    table {
      th,
      td {
        width: 20%;
      }
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    background: #efebe5;
    border-radius: 11px 11px 7px 7px;
    transition: 0.2s ease-in-out;
    thead,
    tbody,
    tr,
    td,
    th {
      display: block;
      transition: 0.2s ease-in-out;
    }
    tr:after {
      content: ' ';
      display: block;
      visibility: hidden;
      clear: both;
    }
    thead {
      padding-right: 14px;
      background: #e3dac9;
      border-radius: 11px;
    }
    tbody {
      height: 200px;
      overflow-y: auto;
      scrollbar-color: #adadad #e3dac9;
      scrollbar-width: thin;
      transition: 0.2s ease-in-out;
      &::-webkit-scrollbar {
        width: 14px;
        transition: 0.2s ease-in-out;
      }
      &::-webkit-scrollbar-track {
        background: #e3dac9;
        border-radius: 4px;
        transition: 0.2s ease-in-out;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #adadad;
        outline: 0;
        border-radius: 4px;
        transition: 0.2s ease-in-out;
      }
    }
    td,
    th {
      float: left;
      font-size: 15px;
      line-height: 28px;
      font-weight: 400;
      color: #5c461a;
      transition: 0.2s ease-in-out;
    }
    td {
      padding: 12px 0px 12px 27px;
    }
    th {
      padding: 14px 0px 14px 27px;
      background: #e3dac9;
      text-align: left;
      &:first-child {
        border-radius: 11px 0 0 11px;
      }
      &:last-child {
        border-radius: 0 11px 11px 0;
      }
    }
  }
}

/*------------------------------------------------------------
Page Home
------------------------------------------------------------*/
.p-home {
  &__info {
    background: #efebe5;
    padding: 71px 0;
    transition: 0.2s ease-in-out;
    @include sp {
      padding: 50px 0;
    }
  }
  &__list {
    background: #fdfdfa;
    padding: 60px 0 25px;
    transition: 0.2s ease-in-out;
    .c-title {
      margin-bottom: 40px;
    }
  }
}

/*------------------------------------------------------------
Page NFT Supermarket
------------------------------------------------------------*/
.p-market {
  padding-bottom: 55px;
  transition: 0.2s ease-in-out;
  &__title {
    text-align: center;
    font-size: 23px;
    line-height: 34px;
    letter-spacing: 0.1px;
    font-weight: 800;
    color: #252525;
    margin-bottom: 36px;
    transition: 0.2s ease-in-out;
    span {
      display: block;
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      color: #faac20;
      margin-top: 10px;
      i {
        margin-left: 8px;
      }
    }
  }
  &__info {
    background: #efebe5;
    padding: 57px 0 32px;
    transition: 0.2s ease-in-out;
    ul {
      background: #e3dac9;
      border-radius: 20px;
    }
  }
  &__detail {
    padding: 11px 0;
    margin-bottom: 40px;
  }
  &__list {
    margin-top: 50px;
    .c-title {
      margin-bottom: 35px;
    }
  }
}

