@import (css) url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=KoHo:wght@700&display=swap');

.h__textLogo {
  font-family: 'KoHo' !important;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  padding-left: 10px;
}

header {
  width: 100%;
}

.main-header-new {
  height: 60px;
  padding: 0 25px;
  background: #1e1f28;
  justify-content: space-between;
  align-items: center;
}

.main-header-new .header-left {
  display: flex;
  align-items: center;
  height: 100%;

  .main-menu {
    height: 100%;
  }
}

.list-menu {
  height: 100%;
  display: flex;
  font-family: 'Montserrat';
  margin-left: 15px;

  li {
    list-style-type: none;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #b8bdb9;
    cursor: pointer;
    position: relative;
    padding: 12px 20px;
    transition: 0.3s ease;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: #28EBA8;
      opacity: 0;
      transition: 0.3s ease;
    }

    .h__customLogoTrade {
      height: 20px;
      width: 20px;
      margin-right: 10px;

      img {
        max-width: 100%;
      }

      & img:nth-child(2) {
        display: none;
      }

      svg {
        max-width: 100%;
      }

      & svg:nth-child(2) {
        display: none;
      }
    }

    &:hover, &.isActive {
      color: #FFFFFF;
      background: #272c35;
      position: relative;

      &:after {
        opacity: 1;
      }

      .h__customLogoTrade {
        img:nth-child(1) {
          display: none;
        }

        img:nth-child(2) {
          display: block;
        }

        svg:nth-child(1) {
          display: none;
        }

        svg:nth-child(2) {
          display: block;
        }
      }
    }
  }
}

.main-header-new .header-left .main-menu .list-menu {

}


.main-header-new .header-right {
  display: flex;
  align-items: center;
}

.main-header-new .header-right .value-token {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.main-header-new .header-right .value-token span {
  margin-left: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.main-header-new .header-right .setting {
  margin-right: 40px;
}

.main-header-new .header-right .connect-wallet .button-cnt {
  background: linear-gradient(92.34deg, #1682E7 13.61%, #7216E7 104.96%);
  box-shadow: 0 1px 20px rgba(23, 140, 177, 0.26);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #ffffff;
  border: 0 solid transparent;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  transition: 0.3s ease;
}

.button-cnt img {
  margin-right: 5px;
}

.main-header-new .header-right .connect-wallet .button-cnt:hover {
  background: #0b6b45;
}

.btn-show-menu {
  background: transparent;
  border: 0px solid transparent;
  padding: 0;
  margin-right: 20px;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: transparent;
  border-color: transparent;
}

.drawer-menu {
  top: 60px;

  .ant-drawer-content-wrapper {
    width: 217px !important;
  }

  .ant-drawer-header {
    padding: 0;
  }

  .ant-drawer-title {
    display: none;
  }

  .ant-drawer-body {
    background: #1e1f28;
    padding: 0;

    .list-menu {
      flex-direction: column;
      padding-top: 24px;
      margin-left: 0;

      li {
        margin-bottom: 12px;
        margin-right: 0;

        &:after {
          width: 3px;
          height: 100%;
          top: 0;
          right: 0;
          left: unset;
        }
      }
    }
  }

  .ant-drawer-close {
    display: none;
  }
}

.list-menu > li:nth-child(4) {
  gap: 3px;
}

@media screen and(max-width: 1025px) {
  .h__imgLogo {
    max-width: 174px;
  }
}

.h__imgIcon {
  max-width: fit-content;
}

.css-icon-home {
  width: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.text-home {
  font-size: 14px;
  color: #b8bdb9;
  margin-bottom: 10px;
}

@media screen and(max-width: 1260px) {
  .main-header-new .header-left .main-menu .list-menu {
    margin-left: 16px !important;

    li {
      margin-right: 0;
    }
  }
}
