.bg-main-wrapper {
  position: relative;
}
@media screen and(max-width: 728px) and(min-width: 412px) {

  .bg-main-wrapper {
    margin-top: 3rem;
  }
}
@media screen and(max-width: 1025px) and(min-width: 412px) {
  .box-full-blue-title {
    font-size: 12px !important;
    line-height: 16px;
  }
}

.box-full-blue {
  position: relative;
  max-width: 18rem;

  .box-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
  }

  .box-full-blue-title {
    font-family: 'Allerta Stencil', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #060049;
  }

  img.chest {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
  }

  .btn-footer {
    position: absolute;
    transform: translate(10%, -50%);

    img {
      max-width: 40%;
      cursor: pointer;
    }
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Allerta Stencil', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #cec8c8;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}

.weapon-green {
  background-image: url("../../images/fish/weapon-green.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 14rem;
  height: 16rem;
  position: relative;
  padding: 1rem;

  .sp-power {
    color: #060049;
    font-weight: 700;
  }

  .sp-percent {
    color: #003DFF;
    font-weight: 700;
  }

  img {
    width: 4rem;
    position: absolute;
    right: -1rem;
    top: -1rem;
  }
}
