.full-width {
  width: 100%;
  height: 100%;
}
.container-fl {
  max-width: 1525px;
  width: 100%;
  padding: 20px 40px;
  margin: 0 auto;
}
.columns {
  display: flex;
  flex-wrap: wrap;
}
.table-ido-initial {
  padding: 20px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.table-ido-initial .columns {
  align-items: center;
}
.table-ido-initial .columns .colum {
  width: calc(6 / 12 * 100%);
}
.table-ido-initial .content-left {
  color: #fff;
  padding-left: 45px;
}
.table-ido-initial .content-left .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif !important;
  color: #fff;
}
.table-ido-initial .content-left .desc {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important;
}
.table-ido-initial .content-right .box-wallet {
  padding: 20px 30px;
  border-radius: 18px;
  background-size: cover;
}
.table-ido-initial .content-right .box-wallet .main-wallet {
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif !important;
}
.bsc-group-btn-middle {
  display: flex;
}

.bsc-group-btn-middle a {
  height: 31px;
}

.table-ido-initial .content-right .box-wallet .main-wallet .txt-address {
  color: #fdd284;
  font-weight: 500;
  padding-left: 5px;
  font-family: 'Poppins', sans-serif !important;
}
.table-ido-initial .content-right .box-wallet .list-wallet {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.table-ido-initial .content-right .box-wallet .list-wallet li {
  width: 50%;
  list-style-type: none;
  margin-bottom: 15px;
}
.table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-name {
  font-size: 20px;
  color: #fff;
  font-family: 'Poppins', sans-serif !important;
}
.table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-price {
  font-size: 20px;
  color: #fdd284;
  font-weight: 600;
  padding-left: 5px;
  font-family: 'Poppins', sans-serif !important;
}
.table-ido-initial .content-right .box-wallet .list-wallet li:nth-child(1) {
  order: 1;
}
.table-ido-initial .content-right .box-wallet .list-wallet li:nth-child(2) {
  order: 3;
}
.table-ido-initial .content-right .box-wallet .list-wallet li:nth-child(3) {
  order: 5;
  margin-bottom: 0;
}
.table-ido-initial .content-right .box-wallet .list-wallet li:nth-child(4) {
  order: 2;
}
.table-ido-initial .content-right .box-wallet .list-wallet li:nth-child(5) {
  order: 4;
}
.table-ido-initial .content-right .box-wallet .list-wallet li:nth-child(6) {
  order: 6;
  margin-bottom: 0;
}
.table-ido-initial .content-right .box-wallet .list-wallet li:nth-child(2) .wallet-price {
  padding-left: 0;
}
.d-block {
  display: block;
}
.mar-top-5 {
  margin-top: 5px;
}
.table-ido-detail .ant-tabs-nav-list {
  width: 430px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: #4b4a45;
  border-radius: 99px;
}
.table-ido-detail .ant-tabs-nav-list .ant-tabs-tab {
  width: calc(4 / 12 * 100%);
  text-align: center;
  line-height: 1.4;
  padding: 10px 0;
  cursor: pointer;
  margin: 0 auto;
  justify-content: center;
}
.table-ido-detail .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {
  background: #fdd284;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 99px;
}
.table-ido-detail .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff !important;
  font-family: 'Poppins', sans-serif !important;
}
.table-ido-detail .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
  font-size: 18px;
  font-weight: bold;
  color: #fdd284;
  font-family: 'Poppins', sans-serif !important;
}
.box-ido-initial {
  margin-bottom: 50px;
}
.table-collapse-custom {
  max-width: 1037px;
  margin: 45px auto 30px;
}
.table-ido-detail .ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before {
  bottom: -35px;
  border-bottom: 1px solid #41413f;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
}
.table-ido-detail .ant-collapse {
  border: 0px solid #d9d9d9;
  background-color: transparent;
}
.table-ido-detail .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  position: absolute;
  right: 25px;
  color: #38f2bc;
  background: #151515;
  margin-right: 0px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  border-radius: 5px;
  top: 50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.table-ido-detail .ant-collapse > .ant-collapse-item {
  border-bottom: 0px solid #d9d9d9;
  margin-bottom: 20px;
}
.table-ido-detail .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background: #333333;
  padding: 10px 40px 10px 10px;
  border-radius: 18px;
}
.table-ido-detail .ant-collapse > .ant-collapse-item.ant-collapse-item-active:last-child,
.table-ido-detail .ant-collapse > .ant-collapse-item.ant-collapse-item-active:last-child > .ant-collapse-header {
  border-radius: 18px 18px 0 0;
}
.table-ido-detail .ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
  border-radius: 18px 18px 0 0;
}
.table-ido-detail .ant-tabs-ink-bar {
  background: transparent;
}
.box-header-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box-header-panel .header-panel-left .box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-header-panel .header-panel-left .box-logo img {
  max-width: 84px;
  height: auto;
}
.box-header-panel .header-panel-left .box-logo.cus {
  width: 88px;
  padding-left: 15px;
}
.box-header-panel .header-panel-left {
  display: flex;
  align-items: center;
}
.box-header-panel .header-panel-left .list-social {
  margin-left: 26px;
}
.box-header-panel .header-panel-left .list-social .contact-social {
  display: flex;
  margin-bottom: 0;
}
.box-header-panel .header-panel-left .list-social .contact-social li {
  list-style-type: none;
  margin-right: 30px;
}
.box-header-panel .header-panel-left .list-social .text-trustfi {
  margin-bottom: 15px;
  font-size: 26px;
  font-family: poppins_semibold;
  color: white;
}
.box-header-panel .header-panel-left .name-wallet {
  display: flex;
  margin-left: 20px;
}
.box-header-panel .header-panel-left .name-wallet .btn-name-wallet:nth-child(1) {
  /* margin-bottom: 5px; */
  word-break: break-word;
}
.box-header-panel .header-panel-left .name-wallet .btn-name-wallet {
  font-size: 15px;
  color: #faac20;
  font-weight: 500;
  padding: 5px 20px;
  background: #e7a02130;
  margin-right: 22px;
  border-radius: 14px;
  font-family: 'Poppins', sans-serif !important;
}
.box-content-panel .columns .colum {
  width: 50%;
}
.table-ido-detail .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}
.box-content-panel .columns .colum.cus .guide-content {
  padding: 50px 60px 50px 20px;
}
.guide-content {
  background: #262424;
  padding: 50px 20px 50px 60px;
}
.guide-content .guide-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#ffe24040, #d0a00066);
  padding: 25px 20px;
  border-radius: 18px 18px 0 0;
}
.guide-content .guide-header .title {
  font-size: 24px;
  font-weight: bolder;
  color: #fff4e3;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif !important;
}
.guide-content .guide-header .btn-name-wallet {
  font-size: 15px;
  color: #faac20;
  font-weight: 500;
  border-radius: 99px;
  font-family: 'Poppins', sans-serif !important;
  margin-right: 25px;
}
.guide-content .guide-header .box-icon {
  height: 19px;
}
.guide-content .guide-header .btn-name-wallet.cus {
  color: #38f2bc;
  background: #38f2bc21;
}
.guide-content .guide-bottom {
  background: #1a1916;
  padding: 20px;
  border-radius: 0 0 18px 18px;
}
.guide-content .guide-bottom .price {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.guide-content .guide-bottom .total-raise {
  font-size: 21px;
  color: #818181;
  font-family: 'Poppins', sans-serif !important;
}
.guide-content .guide-bottom .total-raise .txt-price {
  display: block;
  font-size: 28px;
  font-weight: 600;
  color: #fdb636;
  font-family: 'Poppins', sans-serif !important;
}
.guide-content .guide-bottom .total-progess {
  font-size: 21px;
  color: #818181;
  font-family: 'Poppins', sans-serif !important;
}
.progress-status .ant-progress-bg {
  height: 10px !important;
  background-color: #fdb636 !important;
}
.progress-status .ant-progress-inner:before {
  content: '0%';
  top: 25px;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  position: absolute;
  color: #fff;
  font-family: 'Poppins', sans-serif !important;
}
.progress-status .ant-progress-inner:after {
  content: '100%';
  font-size: 18px;
  font-weight: 500;
  top: 25px;
  right: 0;
  position: absolute;
  color: #fff;
  font-family: 'Poppins', sans-serif !important;
}
.progress-status .ant-progress-inner {
  overflow: initial;
}
.guide-content .guide-bottom .total-opening {
  font-size: 21px;
  color: #818181;
  font-family: 'Poppins', sans-serif !important;
  margin-top: 50px;
}
.guide-content .guide-bottom .total-opening .opening-hourse-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.guide-content .guide-bottom .total-opening .opening-hourse-details .hourse {
  font-weight: bold;
  font-size: 19px;
  color: #fdd284;
  font-family: 'Poppins', sans-serif !important;
}
.guide-content .guide-bottom .total-opening .opening-hourse-details .btn-view-details {
  color: #0dba88;
  font-size: 19px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0;
}
.table-ido-detail .ant-collapse > .ant-collapse-item, .table-ido-detail .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  overflow: hidden;
}
.table-ido-detail .ant-collapse > .ant-collapse-item {
  overflow: hidden;
}
.ant-collapse-item .on-close-click {
  position: absolute;
  opacity: 0;
  top: 125%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  color: #0dba88;
  font-size: 19px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0;
  background: transparent;
  border: 1px solid transparent;
}
.ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click{
  opacity: 1;
  top: 90.5% !important;
  z-index: 1;
}
.ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(2) .ant-collapse-item.ant-collapse-item-active:nth-child(2) .on-close-click{
  opacity: 1;
  top: 94.5% !important;
  z-index: 1;
}
.ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(2) .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click{
  opacity: 1;
  top: 90.5% !important;
  z-index: 1;
}
.ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(3) .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click{
  opacity: 1;
  top: 90.5% !important;
  z-index: 1;
}

.ant-collapse-item.ant-collapse-item-active .on-close-click{
  opacity: 1;
  top: 90.5% !important;
  z-index: 1;
} 
.table-collapse-custom .ant-collapse-item.ant-collapse-item-active {
  position: relative;
}
.table-ido-detail .ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
  position: initial;
}
.close-box .btn-close-box {
  font-size: 18px;
  font-weight: bold;
  color: #0dba88;
  font-family: 'Poppins', sans-serif !important;
  text-align: center;
  padding: 0;
  background: transparent;
  border: 0px solid transparent;
  display: none;
}
.close-box {
  text-align: center;
  padding: 30px 0;
  background: #333333;
  border-radius: 0 0 18px 18px;
}
.table-ido-detail .ant-collapse-content {
  background: #262424;
  margin-bottom: 20px;
  border-top: 0px solid #d9d9d9;
}
.box-content-panel .columns .colum:nth-child(2n + 2) .guide-content {
  padding: 50px 60px 50px 20px;
}
.box-content-panel .columns .colum:nth-child(3) .guide-content {
  padding: 0px 20px 50px 60px;
}
.table-ido-detail .ant-collapse > .ant-collapse-item:last-child,
.table-ido-detail .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 18px;
}
.table-ido-detail .ant-collapse-item.ant-collapse-item-active .ant-collapse-arrow svg {
  transform: rotate(-90deg) !important;
}
.table-ido-detail .ant-collapse-item .ant-collapse-arrow svg {
  transform: rotate(90deg) !important;
}
.box-ido-detail {
  border-bottom: 1px solid #41413f;
}
.box-take-park {
  margin-top: 25px;
  padding-bottom: 50px;
}
.table-take-park {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 236px 10px 236px;
  background-position: center center;
  border-radius: 70px;
}
.table-take-park .guide-box-wrap .title {
  font-size: 40px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif !important;
}
.table-take-park .guide-box-wrap .box-item {
  padding: 30px;
  background: #0000005e;
  border-radius: 18px;
  color: #fff;
  max-width: 97%;
  background-size: cover;
}
.table-take-park .guide-box-wrap .box-item .txt {
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif !important;
}
.table-take-park .guide-box-wrap .box-item .desc {
  font-size: 20px;
  color: #bebcba;
  margin-bottom: 30px;
  line-height: 1.5;
}
.table-take-park .guide-box-wrap .box-item .btn-buy-item {
  width: auto;
  height: 56px;
  background: #0dba88;
  color: #fff;
  font-size: 22px;
  font-family: 'Poppins', sans-serif !important;
  padding: 10px 23px;
  border-radius: 18px;
}
.table-take-park .guide-box-wrap .colum {
  width: 50%;
}
.table-take-park .guide-box-wrap .colum:nth-child(2n + 1) .box-item {
  margin-top: 170px;
  margin-left: -50px;
}
.table-take-park .guide-box-wrap .colum:nth-child(2n + 2) .box-item {
  margin-left: 50px;
}
.table-take-park .guide-box-wrap .box-item:nth-child(1) {
  position: relative;
}
.table-take-park .guide-box-wrap .colum:nth-child(1) .box-item:before {
  content: '2';
  font-size: 28px;
  position: absolute;
  right: -96px;
  top: 50%;
  transform: translateY(-50%);
  width: 69px;
  height: 69px;
  background: linear-gradient(#fdd284, #faac20);
  text-align: center;
  border-radius: 99px;
  line-height: 69px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
.table-take-park .guide-box-wrap .colum:nth-child(2) .box-item:before {
  content: '1';
  font-size: 28px;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  width: 69px;
  height: 69px;
  background: linear-gradient(#fdd284, #faac20);
  text-align: center;
  border-radius: 99px;
  line-height: 69px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
.table-take-park .guide-box-wrap .colum:nth-child(3) .box-item:before {
  content: '4';
  font-size: 28px;
  position: absolute;
  right: -96px;
  top: 50%;
  transform: translateY(-50%);
  width: 69px;
  height: 69px;
  background: linear-gradient(#fdd284, #faac20);
  text-align: center;
  border-radius: 99px;
  line-height: 69px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
.table-take-park .guide-box-wrap .colum:nth-child(4) .box-item:before {
  content: '3';
  font-size: 28px;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  width: 69px;
  height: 69px;
  background: linear-gradient(#fdd284, #faac20);
  text-align: center;
  border-radius: 99px;
  line-height: 69px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
.table-take-park .guide-box-wrap {
  position: relative;
}
.table-take-park .guide-box-wrap:before {
  content: '';
  background: #1a1916;
  width: 7px;
  height: 60%;
  position: absolute;
  left: calc(50% - 4px);
  top: 245px;
  transform: translateX(-50%);
}
.mar-l-15 {
  margin-left: 15px;
}
.mar-b-0 {
  margin-bottom: 0 !important;
}
.table-faq .colum.left {
  width: calc(4.5 / 12 * 100%);
}
.table-faq .colum.right {
  width: calc(7.5 / 12 * 100%);
}
.faqs-guide .title {
  font-size: 28px;
  font-weight: bold;
  color: #fdd284;
  background: #333333;
  padding: 10px 40px;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif !important;
  border-radius: 18px 18px 0 0;
  border-bottom: 2px solid #464646;
}
.faqs-guide .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  position: absolute;
  right: 25px;
  color: #38f2bc;
  background: #151515;
  margin-right: 0px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.faqs-guide .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background: #262624;
  padding: 15px 75px 15px 40px;
  border-radius: 0;
}
.faqs-guide .ant-collapse > .ant-collapse-item {
  border-bottom: 2px solid #464646;
}
.faqs-guide .ant-collapse {
  padding: 0 0 0 0;
  border: 0px solid #d9d9d9;
  padding-bottom: 40px;
  background: #333333;
  border-radius: 0 0 18px 18px;
}
.faqs-guide .ant-collapse > .ant-collapse-item p {
  margin-bottom: 0;
  color: #efebe5;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif !important;
}
.faqs-guide .ant-collapse > .ant-collapse-item .txt {
  color: #fff;
  font-size: 16px;
  padding-left: 30px;
  font-family: 'Poppins', sans-serif !important;
}
.faqs-guide .ant-collapse-content > .ant-collapse-content-box {
  background: #333333;
}
.faqs-guide .ant-collapse-content {
  border-top: 0px solid #d9d9d9;
}
.box-content-faqs {
  margin-top: 30px;
  margin-bottom: 50px;
}
.faqs-guide .ant-collapse-item.ant-collapse-item-active .ant-collapse-arrow svg {
  transform: rotate(-90deg) !important;
}
.faqs-guide .ant-collapse-item .ant-collapse-arrow svg {
  transform: rotate(90deg) !important;
}
.align-center {
  align-items: center;
}
.img-info {
  margin-left: 10px;
}
.modal-content-wrap-show .title-modal-header {
  font-size: 24px;
  color: #fff;
  font-family: 'Poppins', sans-serif !important;
}
.modal-content-wrap-show .title-modal-header .txt-title {
  color: #fdd284;
  font-family: 'Poppins', sans-serif !important;
}
.modal-content-wrap-show .ant-modal-header {
  padding: 20px 50px;
  background: #262424;
  border-bottom: 1px solid #41413f;
  border-radius: 18px 18px 0 0;
}
.modal-content-wrap-show .ant-modal-body {
  background: #262424;
  border-radius: 0 0 18px 18px;
}
.modal-content-wrap-show .list-item-modal {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.modal-content-wrap-show .list-item-modal li .icon-modal img {
  width: 59px;
  display: block;
  margin: 0 auto;
}
.modal-content-wrap-show .list-item-modal li .icon-modal {
  position: relative;
}
.modal-content-wrap-show .list-item-modal li .icon-modal:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background: rgba(0, 0, 0, 0.4);
}
.modal-content-wrap-show .list-item-modal li:nth-child(5) .icon-modal:before {
  content: '';
    position: absolute;
    top: 10px;
    left: 49%;
    transform: translateX(-50%);
    z-index: 999;
    width: 57px;
    height: 56px;
    border-radius: 99px;
    background: rgba(0, 0, 0, 0.4);
}
.modal-content-wrap-show .list-item-modal li .icon-modal.active-tier:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background: rgb(0 0 0 / 0%);
}
.modal-content-wrap-show .list-item-modal:before {
  content: '';
  height: 11px;
  width: 80%;
  background: #000;
  position: absolute;
  top: 25px;
  left: 70px;
  z-index: 0;
  border-radius: 8px;
}
.modal-content-wrap-show .list-item-modal:after {
  content: '';
  height: 11px;
  width: 0%;
  background: #fac668;
  position: absolute;
  top: 25px;
  left: 70px;
  z-index: 1;
  border-radius: 8px;
}

/* Iron = 1,
  Bronze = 10,
  Silver = 30,
  Gold = 60,
  Platinum = 190,
  Diamond = 400 */

  .modal-content-wrap-show .list-item-modal[aria-progress='10']:after {
    width: 2%;
  }
  
  .modal-content-wrap-show .list-item-modal[aria-progress='30']:after {
    width: 20%;
  }
  
  .modal-content-wrap-show .list-item-modal[aria-progress='60']:after {
    width: 40%;
  }
  
  .modal-content-wrap-show .list-item-modal[aria-progress='190']:after {
    width: 60%;
  }
  
  .modal-content-wrap-show .list-item-modal[aria-progress='400']:after {
    width: 80%;
  }
/* .modal-content-wrap-show .list-item-modal[aria-progress='1']:after {
  width: 10%;
} */

/* .modal-content-wrap-show .list-item-modal[aria-progress='10']:after {
  width: 25%;
}

.modal-content-wrap-show .list-item-modal[aria-progress='30']:after {
  width: 40%;
}

.modal-content-wrap-show .list-item-modal[aria-progress='60']:after {
  width: 60%;
}

.modal-content-wrap-show .list-item-modal[aria-progress='190']:after {
  width: 75%;
}

.modal-content-wrap-show .list-item-modal[aria-progress='400']:after {
  width: 90%;
} */

.modal-content-wrap-show .list-item-modal li {
  width: calc(2 / 10 * 100%);
  text-align: center;
  list-style-type: none;
  position: relative;
  z-index: 2;
}
.ant-modal.modal-content-wrap-show {
  width: 1000px !important;
  top: 40%;
}
.modal-content-wrap-show .list-item-modal li .text {
  font-size: 19px;
  font-family: 'Poppins', sans-serif !important;
  color: #fff;
  margin-top: 15px;
}
.modal-content-wrap-show .list-item-modal li .text .price {
  display: block;
  font-family: 'Poppins', sans-serif !important;
  color: #fdd284;
  font-size: 18px;
  margin-top: 7px;
}
.modal-content-wrap-show .ant-modal-footer {
  display: none;
}
.modal-content-wrap-show .ant-modal-content {
  background: transparent;
}
.modal-content-wrap-show .list-item-modal li:nth-child(1):before {
  /* content: 'start'; */
  text-transform: uppercase;
  font-size: 19px;
  position: absolute;
  left: -70px;
  font-family: 'Poppins', sans-serif !important;
  top: 45px;
  color: #fff;
}
.modal-content-wrap-show .ant-modal-close-x svg {
  background: #38f2bc;
  width: 26px;
  padding: 5px;
  height: 26px;
  border-radius: 99px;
  color: #000;
  margin-right: 35px;
}
.wallet-price .ant-btn-primary {
  background: transparent;
  border-color: transparent;
  padding: 0;
  height: auto;
}
.wallet-price .ant-btn-primary:hover {
  background: transparent;
  border-color: transparent;
}
.wallet-price .ant-btn-primary:focus {
  background: transparent;
  border-color: transparent;
}
.table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 1756px) {
  .table-take-park .guide-box-wrap .box-item .desc {
    font-size: 18px;
  }
  .table-take-park {
    padding: 0 100px 10px 130px;
  }
}
@media (max-width: 1583px) {
  .table-take-park .guide-box-wrap:before {
    left: calc(50% - 4px);
    top: 258px;
    transform: translateX(-50%);
  }
}
@media (max-width: 1520px) {
  .table-take-park {
    padding: 0 100px 10px 180px;
  }
  .table-faq .colum.left .box-img {
    padding-right: 20px;
  }
  .mar-l-15 {
    margin-left: 15px;
    margin-top: 0;
  }
  .table-take-park .guide-box-wrap .colum {
    width: 100%;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(2n + 1) .box-item {
    margin-top: 0;
    margin-left: 0;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(2n + 2) .box-item {
    margin-left: 0;
  }
  .table-take-park .guide-box-wrap .title {
    padding-top: 50px;
    margin-left: -90px;
  }
  .table-take-park .guide-box-wrap .box-item {
    width: 100%;
  }
  .table-take-park .guide-box-wrap:before {
    left: -50px;
    height: 67%;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(1) .box-item:before {
    content: '1';
    left: -85px;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(2) .box-item:before {
    content: '2';
    left: -85px;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(3) .box-item:before {
    content: '3';
    left: -85px;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(4) .box-item:before {
    content: '4';
    left: -85px;
  }
  .table-take-park .guide-box-wrap .colum {
    margin-bottom: 20px;
  }
  .table-take-park .guide-box-wrap:before {
    top: 220px;
  }
  .guide-content .guide-header .btn-name-wallet {
    margin-left: 0;
  }
  .faqs-guide .title {
    font-size: 32px;
    padding: 10px 40px;
  }
  .faqs-guide .ant-collapse {
    padding-bottom: 55px;
  }
  .faqs-guide .ant-collapse > .ant-collapse-item p {
    font-size: 18px;
  }
}
@media (max-width: 1300px) {
  .table-take-park {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 80px 10px 130px;
    background-position: center center;
    border-radius: 70px;
  }

  .guide-content .guide-header .btn-name-wallet {
    margin-left: 0;
  }
  .guide-content .guide-header .box-icon img {
    width: 19px;
  }
  .guide-content .guide-header .title {
    font-size: 20px;
  }
  .guide-content .guide-header .btn-name-wallet {
    padding: 5px 15px;
  }
  .table-faq .colum.right {
    width: 100%;
    margin-bottom: 20px;
  }
  .table-faq .colum.left {
    width: 100%;
    text-align: center;
  }
  .table-faq .columns {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1300px) {
  .table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-name {
    font-size: 16px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-price {
    font-size: 16px;
  }
  .table-ido-initial .content-right .box-wallet .main-wallet {
    font-size: 16px;
  }
}
@media (max-width: 1072px) {
  .box-content-panel .columns .colum:nth-child(2n + 2) .guide-content {
    padding: 30px 20px 30px 20px;
  }
  .guide-content {
    padding: 30px 20px 30px 20px;
  }
  .box-content-panel .columns .colum:nth-child(3) .guide-content {
    padding: 0px 20px 30px 20px;
  }
  .guide-content .guide-header .btn-name-wallet {
    margin-left: 0px;
  }
}
@media (max-width: 1040px) {
  .table-take-park {
    padding: 20px 20px 10px 130px;
  }
}
@media (max-width: 990px) {
  .box-content-panel .columns .colum {
    width: 100%;
  }
  .table-ido-initial .content-left {
    padding-left: 0;
  }

  .table-ido-initial .content-right .box-wallet .list-wallet li {
    width: 100%;
  }
  .flex-repon {
    display: flex;
  }
  .box-header-panel .header-panel-left .name-wallet .btn-name-wallet {
    font-size: 14px;
    color: #faac20;
    font-weight: 500;
    padding: 5px 10px;
    background: #e7a02130;
    margin-right: 10px;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif !important;
  }
  .box-header-panel .header-panel-left .name-wallet .btn-name-wallet {
    display: block;
  }
  .box-header-panel .header-panel-left .name-wallet {
    display: block;
  }
  .box-header-panel .header-panel-left .list-social {
    margin-left: 12px;
  }
  .box-header-panel .header-panel-left .list-social .contact-social li {
    list-style-type: none;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .table-take-park .guide-box-wrap .title {
    padding-top: 10px;
    margin-left: 0px;
  }
  .table-take-park .guide-box-wrap:before {
    top: 230px;
  }
  .table-take-park {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 30px 10px 100px;
    background-position: center center;
    border-radius: 70px;
  }
  .guide-content .guide-header .btn-name-wallet {
    margin-left: 0;
  }
  .box-header-panel .header-panel-left .name-wallet {
    display: flex;
  }
}
@media (max-width: 751px) {
  .mar-l-15 {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 501px) {
  .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click {
    opacity: 1;
    top: 95.5% !important;
    z-index: 1;
}
.ant-scrolling-effect {
  width: 100% !important;
}
#rc-tabs-0-panel-3 .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click {
  top: 93.5% !important;
}
  .table-ido-initial .content-right .box-wallet .list-wallet li:nth-child(2) .wallet-price {
    padding-left: 5px;
  }
  .ant-collapse-item.ant-collapse-item-active .on-close-click {
    top: 93.5% !important;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='10']:after {
    width: 9px;
    height: 10%;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='30']:after {
    width: 9px;
    height: 30%;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='60']:after {
    width: 9px;
    height: 50%;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='190']:after {
    width: 9px;
    height: 70%;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='400']:after {
    width: 9px;
    height: 90%;
  }
  /* .modal-content-wrap-show .list-item-modal[aria-progress='1']:after {
    width: 9px;
    height: 12%;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='10']:after {
    width: 9px;
    height: 30%;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='30']:after {
    width: 9px;
    height: 50%;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='60']:after {
    width: 9px;
    height: 65%;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='190']:after {
    width: 9px;
    height: 80%;
  }

  .modal-content-wrap-show .list-item-modal[aria-progress='400']:after {
    width: 9px;
    height: 100%;
  } */
  .container-fl {
    padding: 0;
  }
  .table-ido-initial .columns .colum {
    width: 100%;
  }
  .table-ido-initial .content-left {
    padding-left: 0;
    text-align: center;
    padding: 10px 0;
  }
  .table-ido-initial .content-left .title {
    font-size: 30px;
  }
  .table-ido-initial .content-left .desc {
    font-size: 16px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet li {
    width: 100%;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-name {
    display: flex;
    align-items: center;
  }
  .table-ido-initial .content-right .box-wallet .main-wallet .txt-address {
    display: block;
    font-size: 16px;
    padding-left: 0;
    margin-top: 10px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet {
    margin-bottom: 0;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet li:nth-child(6) {
    margin-bottom: 0;
  }
  .box-ido-initial {
    margin-bottom: 20px;
  }
  .table-ido-detail .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {
    border-radius: 20px;
  }
  .table-ido-detail .ant-tabs-nav-list .ant-tabs-tab {
    padding: 7px 0;
  }
  .table-ido-detail .ant-tabs-nav-list {
    border-radius: 20px;
  }
  .box-content-panel .columns .colum {
    width: 100%;
  }
  .guide-content {
    padding: 30px 15px;
  }
  .box-content-panel .columns .colum.cus .guide-content {
    padding: 30px 15px;
  }
  .wallet-name > .btn-bsc-link > button > div > span {
    color: #fdd284;
    font-size: 13px;
  }
  .box-header-panel .header-panel-left .name-wallet {
    flex-wrap: wrap;
    margin-bottom: -5px;
  }
  .box-header-panel .header-panel-left .list-social .contact-social li {
    margin-right: 10px;
    width: 20px;
  }
  .box-header-panel .header-panel-left .list-social .contact-social li img {
    width: 20px;
  }
  .box-header-panel .header-panel-left .list-social .text-trustfi {
    margin-bottom: 5px;
  }
  .box-header-panel .header-panel-left .name-wallet .btn-name-wallet {
    margin-bottom: 5px;
  }
  .table-take-park {
    padding: 30px 10px 40px 75px;
    border-radius: 18px;
  }
  .table-take-park .guide-box-wrap .colum {
    width: 100%;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(2n + 1) .box-item {
    margin-top: 0;
    margin-left: 0;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(2n + 2) .box-item {
    margin-left: 0;
  }
  .table-take-park .guide-box-wrap .title {
    padding-top: 0;
    margin-left: -70px;
    font-size: 35px;
  }
  .table-take-park .guide-box-wrap .box-item {
    width: 100%;
  }
  .table-take-park .guide-box-wrap:before {
    left: -40px;
    height: 69%;
    top: 175px;
  }
  .table-take-park .guide-box-wrap .box-item .btn-buy-item {
    height: 45px;
    font-size: 18px;
    width: auto;
    line-height: 25px;
    display: inline-block;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(1) .box-item:before {
    content: '2';
    left: -65px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(2) .box-item:before {
    content: '1';
    left: -65px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(3) .box-item:before {
    content: '4';
    left: -65px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(4) .box-item:before {
    content: '3';
    left: -65px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }
  .table-take-park .guide-box-wrap .colum {
    margin-bottom: 20px;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(1) {
    order: 2;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(2) {
    order: 1;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(3) {
    order: 4;
  }
  .table-take-park .guide-box-wrap .colum:nth-child(4) {
    order: 3;
  }
  .mar-l-15 {
    margin-left: 0;
    margin-top: 10px;
  }
  .table-take-park .guide-box-wrap .box-item {
    padding: 20px;
    max-width: 100%;
  }
  .table-faq .colum.left {
    width: 100%;
  }
  .table-faq .colum.right {
    width: 100%;
  }
  .align-center {
    flex-direction: column-reverse;
  }
  .faqs-guide {
    margin-bottom: 75px;
  }
  .table-faq .colum.left .box-img img {
    width: 100%;
  }
  .box-take-park {
    padding-bottom: 35px;
  }
  .modal-content-wrap-show .list-item-modal li {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
  }
  .modal-content-wrap-show .list-item-modal {
    padding: 0;
  }
  .ant-modal.modal-content-wrap-show {
    top: 10%;
  }
  .modal-content-wrap-show .list-item-modal li .text {
    padding-left: 50px;
    font-size: 18px;
  }
  .modal-content-wrap-show .list-item-modal li .text .price {
    font-size: 15px;
  }
  /* ádgit a */
  .modal-content-wrap-show .ant-modal-body {
    background: #262424;
    border-radius: 0 0 18px 18px;
    padding: 15px 30px 15px 80px;
    height: calc(100vh - 185px);
  }
  .modal-content-wrap-show .list-item-modal li .icon-modal img {
    width: 55px;
  }
  .modal-content-wrap-show .list-item-modal li:nth-child(5) .icon-modal:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 48%;
    transform: translateX(-50%);
    z-index: 999;
    width: 53px;
    height: 52px;
    border-radius: 99px;
    background: rgba(0, 0, 0, 0.4);
}
  .modal-content-wrap-show .list-item-modal li .icon-modal:before {
    width: 55px;
    height: 55px;
  }
  .modal-content-wrap-show .list-item-modal:before {
    width: 9px;
    height: 85%;
    left: 25px;
  }
  .modal-content-wrap-show .list-item-modal:after {
    bottom: 15px;
    width: 9px;
    left: 25px;
    top: inherit;
  }
  .modal-content-wrap-show .list-item-modal {
    flex-direction: column-reverse;
  }
  .modal-content-wrap-show .list-item-modal li:nth-child(1):before {
    /* content: 'start'; */
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    left: 104px;
    top: 80px;
    color: #fff;
  }
  .box-content-panel .columns .colum.cus .guide-content {
    padding: 15px 15px 15px 15px;
  }
  .guide-content {
    padding: 15px 15px 0px 15px;
  }
  .box-header-panel .header-panel-left .name-wallet {
    display: flex;
  }
  .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click{
    opacity: 1;
    top: 90.5% !important;
    z-index: 1;
  }
  .ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(2) .ant-collapse-item.ant-collapse-item-active:nth-child(2) .on-close-click{
    opacity: 1;
    top: 95.5% !important;
    z-index: 1;
  }
  .ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(3) .ant-collapse-item.ant-collapse-item-active:nth-child(2) .on-close-click{
    opacity: 1;
    top: 93% !important;
    z-index: 1;
  }
  .ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(2) .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click{
    opacity: 1;
    top: 93.5% !important;
    z-index: 1;
  }
  .ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(3) .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click{
    opacity: 1;
    top: 90.5% !important;
    z-index: 1;
  }
  
  .ant-collapse-item.ant-collapse-item-active .on-close-click{
    opacity: 1;
    top: 93% !important;
    z-index: 1;
  } 
}
@media (max-width: 425px) {
  /* .box-header-panel .header-panel-left .box-logo img {
		width: 40px;
	}
	.box-header-panel .header-panel-left .list-social .text-trustfi {
		font-size: 13px;
		margin-bottom: 0;
	}
	.box-header-panel .header-panel-left .list-social .contact-social li {
		width: 12px;
	}
	.box-header-panel .header-panel-left .name-wallet .btn-name-wallet {
		font-size: 10px;
	}
	.table-ido-detail .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
		font-size: 12px;
	}
	.table-ido-detail .ant-tabs-nav-list .ant-tabs-tab {
		padding: 10px 0;
	}
	.table-ido-initial .content-left .title {
		font-size: 20px;
	}
	.table-ido-initial .content-right .box-wallet .main-wallet {
		font-size: 14px;
	}
	.table-ido-initial .content-right .box-wallet .main-wallet .txt-address {
		font-size: 12px;
	}
	.table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-name {
		font-size: 14px;
	}
	.table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-price {
		font-size: 11px;
	} */
}
@media (max-width: 425px) {
  .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click{
    opacity: 1;
    top: 90.5% !important;
    z-index: 1;
  }
  .ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(2) .ant-collapse-item.ant-collapse-item-active:nth-child(2) .on-close-click{
    opacity: 1;
    top: 95.5% !important;
    z-index: 1;
  }
  .ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(3) .ant-collapse-item.ant-collapse-item-active:nth-child(2) .on-close-click{
    opacity: 1;
    top: 93% !important;
    z-index: 1;
  }
  .ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(2) .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click{
    opacity: 1;
    top: 93.5% !important;
    z-index: 1;
  }
  .ant-tabs-tabpane.ant-tabs-tabpane-active:nth-child(3) .ant-collapse-item.ant-collapse-item-active:nth-child(1) .on-close-click{
    opacity: 1;
    top: 90.5% !important;
    z-index: 1;
  }

  .ant-collapse-item.ant-collapse-item-active .on-close-click{
    opacity: 1;
    top: 93% !important;
    z-index: 1;
  } 
  .table-take-park .guide-box-wrap .title {
    padding-bottom: 15px;
  }
  .table-ido-initial .content-left .title {
    font-size: 28px;
  }
  .table-ido-initial .content-right .box-wallet .main-wallet {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .table-ido-initial .content-right .box-wallet .main-wallet .txt-address {
    font-size: 16px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet li {
    margin-bottom: 5px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-name {
    font-size: 18px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-price {
    font-size: 15px;
  }
  .table-ido-initial .content-right .box-wallet {
    padding: 20px;
  }
  .table-ido-detail .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
    font-size: 16px;
  }
  .box-header-panel .header-panel-left .box-logo img {
    max-width: 45px;
  }
  .box-header-panel .header-panel-left .list-social {
    margin-left: 5px;
  }
  .box-header-panel .header-panel-left .name-wallet {
    margin-left: 5px;
  }
  .table-ido-detail .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 5px;
  }
  .table-ido-detail .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    right: 10px;
  }
  .guide-content .guide-header .btn-name-wallet {
    margin-left:0;
    margin-right: 5px;
  }
  .guide-content .guide-header {
    padding: 15px;
  }
  .faqs-guide .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 15px 70px 15px 20px;
  }

  .faqs-guide .title {
    padding: 15px 70px 15px 20px;
    font-size: 28px;
  }

  .faqs-guide .ant-collapse > .ant-collapse-item p {
    font-size: 15px;
  }
  .faqs-guide .ant-collapse > .ant-collapse-item .txt {
    padding-left: 5px;
  }
  .table-take-park .guide-box-wrap .box-item .desc {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .table-take-park .guide-box-wrap .box-item .txt {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .table-ido-initial .content-left .desc {
    font-size: 14px;
  }
  .ant-modal.modal-content-wrap-show {
    top: 12%;
  }
  .table-ido-detail .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    position: absolute;
    right: 25px;
    color: #38f2bc;
    background: #151515;
    margin-right: 0px;
    width: 30px;
    height: 29px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 5px;
    top: 32px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table-ido-detail .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    right: 5px;
  }
  .box-header-panel .header-panel-left .name-wallet .btn-name-wallet {
    font-size: 10px;
    text-align: center;
  }
  .box-header-panel .header-panel-left .list-social .text-trustfi {
    font-size: 16px;
  }
  .box-header-panel .header-panel-left .list-social .contact-social li {
    width: 15px;
  }
}
@media (max-width: 376px) {
  .table-ido-initial .content-left .title {
    font-size: 26px;
  }
  .table-ido-initial .content-left .desc {
    font-size: 13px;
  }
  .table-ido-initial .content-right .box-wallet .main-wallet .txt-address {
    font-size: 16px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-price {
    font-size: 13px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-name {
    font-size: 16px;
  }
  .table-ido-initial .content-right .box-wallet .main-wallet {
    font-size: 16px;
  }
  .box-header-panel .header-panel-left .list-social .contact-social li {
    width: 14px;
    margin-right: 8px;
  }
  .box-header-panel .header-panel-left .list-social .contact-social li img {
    width: 15px;
  }
  .table-take-park .guide-box-wrap .title {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .table-take-park .guide-box-wrap .box-item .btn-buy-item {
    width: auto;
    height: 45px;
    background: #0dba88;
    color: #fff;
    font-size: 15px;
    padding: 0 25px;
    line-height: 45px;
  }
  .table-take-park .guide-box-wrap:before {
    top: 165px;
  }
  .faqs-guide .ant-collapse > .ant-collapse-item p {
    font-size: 14px;
  }
  .faqs-guide .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 10px 70px 10px 10px;
  }
  .faqs-guide .ant-collapse > .ant-collapse-item .txt {
    font-size: 14px;
  }
  .modal-content-wrap-show .list-item-modal li {
    margin-bottom: 10px;
  }
  .box-header-panel .header-panel-left .list-social .text-trustfi {
    font-size: 14px;
  }
  .guide-content .guide-header .btn-name-wallet {
    margin-left: 0;
    margin-right: 5px;
  }
}

.mar-top-12 {
  margin-top: -12px;
}
@media (max-width: 320px) {
  .box-header-panel .header-panel-left .box-logo img {
    width: 40px;
  }
  .box-header-panel .header-panel-left .list-social .text-trustfi {
    font-size: 13px;
    margin-bottom: 0;
  }
  .box-header-panel .header-panel-left .list-social .contact-social li {
    width: 12px;
  }
  .box-header-panel .header-panel-left .name-wallet .btn-name-wallet {
    font-size: 10px;
  }
  .table-ido-detail .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
    font-size: 12px;
  }
  .table-ido-detail .ant-tabs-nav-list .ant-tabs-tab {
    padding: 10px 0;
  }
  .table-ido-initial .content-left .title {
    font-size: 20px;
  }
  .table-ido-initial .content-right .box-wallet .main-wallet {
    font-size: 14px;
  }
  .table-ido-initial .content-right .box-wallet .main-wallet .txt-address {
    font-size: 12px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-name {
    font-size: 14px;
  }
  .table-ido-initial .content-right .box-wallet .list-wallet .item-wallet .wallet-price {
    font-size: 11px;
  }
}
.close-color {
  color: #F23838 !important;
  background: #f2383824;
  margin: -10px;
  padding: 5px 15px;
  border-radius: 33px;
  font-size: 15px;
  font-weight: 500;
}
.coming-color {
  color: #FAAC20 !important;
  background: #e7a02130;
  margin: -10px;
  padding: 5px 15px;
  border-radius: 33px;
  font-size: 15px;
  font-weight: 500;
}
.going-color {
  color: #38F2BC !important;
  background: #38f2bc26;
  margin: -10px;
  padding: 5px 15px;
  border-radius: 33px;
  font-size: 15px;
  font-weight: 500;
}
.box-button-header {
    display: flex;
    align-items: center;
}
