.main-banner-v3 {
  position: relative;
}

.box-banner-v3 {
  background: linear-gradient(268.47deg, #64EFB5 3.45%, #68B1F5 98.1%);
  border-radius: 14px;
  position: relative;
}

.box-content-v3 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-img-game-fi {
  position: relative;
  width: calc(4 / 12 * 100%);
  height: 100%;
}

.box-img-game-fi .img-small {
  position: absolute;
  left: 5%;
}

.box-img-game-fi .img-big {
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
}

.box-content-v3 .text-l-banner {
  width: calc(4 / 12 * 100%);
  padding-right: 40px;
}

.box-content-v3 .text-r-banner {
  width: calc(4 / 12 * 100%);
}

.box-content-v3 .text-r-banner .list-staking {
  padding: 15px;
  width: 283px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-left: auto;
  margin-right: 40px;
}

.box-content-v3 .text-l-banner .title-v3 {
  font-size: 30px;
  margin-bottom: 8px;
  color: #fff;
  font-weight: bolder;
}

.box-content-v3 .text-l-banner .desc {
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
}

// .text-r-banner {
//     width: 300px;
//     background: rgba(0, 0, 0, 0.3);
//     border-radius: 8px;
// }
.text-r-banner .list-staking .text-flex {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-r-banner .list-staking .text-flex .t-left {
  font-size: 14px;
  color: #fff;
}

.text-r-banner .list-staking .text-flex .t-right {
  font-size: 14px;
  color: #FAC668;
  font-weight: 700;
}

// tabs
.tabs-v3 .ant-tabs-nav-list {
  background: #2E2E2E;
  border-radius: 22px;
  margin: 15px auto 15px;
}

.tabs-v3 .ant-tabs-tab {
  padding: 0;
}

.tabs-v3 .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 !important;
}

.tabs-v3 .ant-tabs-tab .ant-tabs-tab-btn {
  background: rgba(23, 140, 177, 0.17);
  color: #05D8F5 !important;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.tabs-v3 .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  background: #FAC668;
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 22px;
  font-weight: 700;
}

.box-content-active {
  background: #1C1B1B;
  border-radius: 10px;
  height: fit-content;
  margin-bottom: 50px;
}

.box-content-active .top-content {
  padding: 10px 20px;
  background-position: center center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.box-content-active {
  max-width: 530px;
}

.body-content {
  padding: 10px 20px 30px 20px;
  color: #fff;
}

.body-content .guide-wrap .wrap-top {
  margin-bottom: 50px;
}

.body-content .guide-wrap .wrap-top .title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

.body-content .guide-wrap .wrap-top .title span {
  display: block;
  color: #6C6C6C;
  font-size: 14px;
  margin-top: 5px;
}

.body-content .guide-wrap .wrap-middle .social-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-content .guide-wrap .wrap-middle .social-address .box-social {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.body-content .guide-wrap .wrap-middle .social-address .box-social img {
  margin-right: 20px;
}

.body-content .guide-wrap .wrap-middle .social-address .box-address .address-wl {
  display: flex;
  align-items: center;
  width: 210px;
  justify-content: space-between;
  padding: 10px;
  background: #272626;
  border-radius: 7px;
}

.body-content .guide-wrap .wrap-middle .social-address .box-address .address-wl .img {
  height: 20px;
  cursor: pointer;
}

.list-info-ido .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-info-ido .item:last-child {
  margin-bottom: 0;
}

.list-info-ido {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #41413F;
}

.list-info-ido .item .t-left {
  color: #fff;
  font-size: 14px;
}

.list-info-ido .item .t-right {
  color: #FAC668;
  font-size: 16px;
}

.border-none {
  border-bottom: 0px solid transparent !important;
}

.box-button-dt {
  display: flex;
  align-items: center;

  .noti-whitelist p {
    color: #0DBA88;
  }
}

.box-button-dt .btn-view-dt {
  background: #0DBA88;
  width: 120px;
  height: 40px;
  text-align: center;
  border: 0px solid transparent;
  border-radius: 10px;
  font-weight: 700;
  margin-right: 24px;
  color: #fff;

  &.hide {
    display: none;
  }

  &:disabled,
  &[disabled] {
    background: #404040;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #B1B1B1;
  }
}

.main-cnt-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1173px;
  width: 100%;
}

.box-content-active-detail {
  width: 530px;
  margin-left: 113px;
}

.box-content-active-detail .round-one {
  background: #1C1B1B;
  color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
  width: 100%;
}

.box-content-active-detail .round-one .title {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.process-bar-v3 .ant-progress-inner {
  background-color: #000;
}

.process-bar-v3 .ant-progress-bg {
  background-color: #FAC668;
  height: 4px !important;
}

.process-bar-v3 {
  text-align: right;
  margin-bottom: 10px;
}

.process-bar-v3 .title-process {
  font-size: 14px;
  color: #C4C4C4;
  margin-bottom: 5px;
  text-align: left;
}

.process-bar-v3 .ant-progress-text {
  color: #fff;
}

.process-bar-v3.cus .ant-progress-text {
  color: #FAC668;
}

.name-token {
  width: 100%;
  margin-top: 5px;
}

.box-table table {
  width: 100%;
  border-radius: 18px;
}

.box-table table tr th {
  background: #333333;
  padding: 20px 30px;
  color: #FFF4E3;
  font-size: 18px;
  font-weight: 600;
}

.box-table {
  border-radius: 18px;
  overflow: hidden;
}

.box-table table tr td {
  vertical-align: middle;
  background: #1C1B1B;
  padding: 20px 30px;
  color: #FFF4E3;
  font-size: 16px;
  transition: 0.3s ease;
}

.box-table table tr:hover {
  background: #282727 !important;
}

.main-cl-v3 {
  color: #FAC668 !important;
}

.main-cl-up {
  color: #0DBA88 !important;
}

.main-cl-down {
  color: #E7352A !important;
}

.d-flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-space {
  margin-right: 20px;
}

.box-search-v3 {
  margin-bottom: 17px;
  width: 335px !important;
}

.box-search-v3 .ant-input {
  background: #1C1B1B !important;
  border: 0px solid #d9d9d9;
  height: 40px;
  padding-left: 33px;
  border-radius: 7px;
}

.box-search-v3 .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  left: -1px;
  position: absolute;
}

.box-search-v3 button.ant-btn.ant-btn-icon-only.ant-input-search-button {
  background-color: transparent !important;
}

.box-search-v3 .ant-btn {
  border-color: transparent;
  background: transparent;
}

.box-search-v3 .ant-btn:hover, .box-search-v3 .ant-btn:focus {
  color: transparent;
  background: transparent;
  border-color: transparent;
}

.box-search-v3 .ant-input-group-addon {
  background: transparent;
}

.box-search-v3 .ant-input-search .ant-input:hover, .box-search-v3 .ant-input-search .ant-input:focus {
  border-color: transparent;
}

.box-search-v3 svg {
  fill: #818181;
}

.box-search-v3 .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  border-radius: 0px 2px 2px 0;
}

.box-search-v3 .ant-input-group {
  border-radius: 7px;
  overflow: hidden;
}

.main-caledar .fc .fc-toolbar-title {
  color: #05D8F5;
}

.main-caledar {
  padding: 15px;
  background: #000;
  border-radius: 18px;
}

.main-caledar .fc-theme-standard td, .fc-theme-standard th {
  background: #ffffff0f;
  border: 1px solid #ffffff1f;
}

.main-caledar .fc-theme-standard td .fc-daygrid-day-frame {
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.main-caledar .fc-theme-standard td .fc-daygrid-day-frame:hover {
  border: 1px solid #05D8F5;
}

.main-caledar .fc-theme-standard .fc-scrollgrid {
  border: 1px solid #ffffff1f;
}

.main-caledar a:not([href]):not([tabindex]) {
  color: #fff;
  padding: 10px;
}

.main-caledar .fc-prev-button.fc-button.fc-button-primary {
  background: #1C1B1B;
}

.main-caledar .fc-next-button.fc-button.fc-button-primary {
  background: #1C1B1B;
}

.main-caledar .fc-day-today .fc-daygrid-day-frame {
  border: 1px solid #FAC668 !important;
}

.main-caledar .fc-next-button.fc-button.fc-button-primary .fc-icon {
  color: #05D8F5
}

.main-caledar .fc-prev-button.fc-button.fc-button-primary .fc-icon {
  color: #0DBA88;
}

.main-caledar .fc-view-harness {
  height: 820px !important;
}

.row-claim-box {
  display: flex;
}

.inf-claim {
  padding-right: 10px;
}

