.text-launchpad {
  color: #1FFFC9;
}

.text-primary-launchpad {
  color: #05D8F5 !important;
}
.launchpad-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.launchpad-content .text-l-banner {
  padding-right: 40px;
  width: 50%;
  padding-left: 40px;
  text-align: left;
}
.launchpad-content .text-l-banner .title-v3 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 8px;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: calc(4 / 12 * 100%);
  width: fit-content;
}
.launchpad-content .text-l-banner .title-v3 {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  margin-bottom: 8px;
  font-weight: 700;
  color:#ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.launchpad-content .text-l-banner .desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 24px;
  color: #fff;
  letter-spacing: 0.005em;
}
