.bg-primary {
    --tw-bg-opacity: 0.25 !important;
    background-color: rgb(23 173 189 / var(--tw-bg-opacity)) !important;
}
.tabs-v3 .ant-tabs-nav-list {
    background: unset !important;
    border-radius: 0 !important;
    margin: 38px auto 15px;
}
.tabs-v3 .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    background: linear-gradient(92.34deg, #1682E7 13.61%, #7216E7 104.96%) !important;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 8px !important;
    color: #ffffff !important;
}
