.btn-tab {
  position: relative;
  max-width: 10rem;
  cursor: pointer;
  margin-right: 1rem;

  .btn-tab-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Allerta Stencil', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
  }
}

@media screen and(max-width: 1025px) and(min-width: 412px) {
  .title-balance {
    font-size: 20px !important;
  }

  .sp-price {
    font-size: 30px !important;
  }
}
.btn-buy-gem {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-balance {
  font-family: 'Allerta Stencil', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #113657;
}

.sp-price {
  font-family: 'Allerta Stencil', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #01449B;
  text-shadow: 1px 1px 0 #FFFFFF;
}
